* {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.cont {
  height: 100vh;
}

.form-box {
    width: min(30rem, 100%);
    height: 450px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 4px;
    font-family: 'Roboto';
    color: rgb(5, 3, 3);
    box-shadow: 7px 13px 37px #000000;
}

.form-box .btn {
  width: min(30rem, 100%);
  margin: 30px auto;
  padding: 15px 10px;
}

p {
    height: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    display: block;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.enlace {
    color: #0a6bf2;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 430px) {
    .form-box {
        height: 400px;
        color: #0a6bf2;

    }

    .btn{
        width: 100%;
    }

    .enlace {
        margin: 20px;
    }
}

.resultado {
    color: purple;
    font-size: 20px;
    text-align: center;
}

.usuario {
    font-size: large;
    text-align: center;
}

.contraseña {
    font-size: large;
    text-align: center;
}

.form-control {
    background: #ffffff;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 6px;
    font-family: 'roboto';
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.error-message {
    color: red;
  }

  .was-validated .form-control:valid {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%2328a745' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E"); /* ícono de éxito */
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  }
  
  .was-validated .form-control:invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' stroke='%23dc3545' stroke-width='2' viewBox='0 0 24 24' stroke-linecap='round' stroke-linejoin='round' class='feather feather-alert-circle'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E"); /* ícono de error */
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  }