* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    font-size: 22px;
}

.bodyContacto {
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'Roboto';
    color: rgb(5, 3, 3);
    box-shadow: 7px 13px 37px #000000;
    align-content: center;
}

.mainContacto {
    width: 40rem;
    margin: 10 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.formContacto {
    width: 90%;
    margin: 20px auto;
    padding-left: 0; 
    padding-right: 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 5px 10px 5px 10px;
}

.form legend {
    display: block;
    font-size: 20px;
    margin: 5px 10px;
}

.input-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 100%;
}

.checkbox {
    margin:20px 0;
}

.input-padron{
  width: 100%;
}

.tableContacto {
    margin: 30px auto;
}

thead {
    background: #555555;
    color:white;
    font-weight: bold;
}

td,th {
    border: 1px solid #000000;
    padding: 4px 10px;
}

.legend-separator {
    margin-bottom: 10px;
}

.select-separator {
    margin-top: 10px;
    height: 40px;
    width: 380px; 
    font-size: 20px;
    text-align: center;
}

button {
    height: 40px;
}