<br>
<br>
<div class="container mt-4 mainConsulta">
  
  <h2>FORMULARIO DE CONSULTA</h2>
  <form [formGroup]="formularioConsulta" (ngSubmit)="enviarConsulta()">

    <div class="form-group">
      <label for="nombreapellido">Nombre y Apellido</label>
      <input type="text" id="nombreapellido" class="form-control" formControlName="nombreapellido" required>
    </div>

    <div class="form-group">
      <label for="correoelectronico">Correo Electrónico</label>
      <input type="email" id="email" class="form-control" formControlName="email" required placeholder="email@dominio.com">
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="tel" id="telefono" class="form-control" formControlName="telefono" required placeholder="(XX) XXXX XXXX">
    </div>

    <div class="form-group">
      <label for="consulta">Consulta</label>
      <textarea id="consulta" class="form-control" formControlName="consulta" required></textarea>
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary w-100">ENVIAR</button>
    </div>

  </form>
</div>
<br>