.container-fluid {
    padding: 0%;
}

@media screen and (max-width: 800px) {
  .titulo {
      font-size: 1.5rem;
      padding: 10px 0;
  }

  .card {
      text-align: center;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
  }

  .seccion-texto {
      text-align: center;
      font-size: 1.25rem;
  }

  .presentacion {
      display: none;
  }
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    margin-bottom: 0.75rem;
    text-align: center;
}

.card-text {
    flex: 1;
}

.badge-warning {
    margin-bottom: 1rem;
}

.btn {
    width: 100%;
}
